<div class="container">
  <div class="upper-data">
    <ng-container *ngIf="temperatureData">
      <img src="../assets/Hot.jpg" *ngIf="(temperatureData.main.temp - 273.15) > 35">
      <img src="../assets/cold.jpg" *ngIf="(temperatureData.main.temp - 273.15) < 35">
      <img src="../assets/Hot.jpg" *ngIf="(temperatureData.main.temp - 273.15) === 15">
    </ng-container>
    <img src="../assets/7rhrsIf.jpg" *ngIf="!temperatureData">
    
    


   <div class="wheather-data">
    <div class="location">{{temperatureData.name}}</div>
    <div class="temprature">{{(temperatureData.main.temp)-273.15 | number : '1.0-0'}}°C </div>

    <div class="text-box-area">
      <div class="textbox">
        <input type="text" placeholder="Enter City Name" #cname>
      </div>
      <div class="button">
        <button (click)="getWeather(cname.value)">Get Weather</button>
      </div>
      
    </div>
  
   </div>


  </div>
  <div class="lower-data" *ngIf="temperatureData">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/celcius.jpg">
          <span>Min</span>
        </div>
        <div class="info-block-value">{{(temperatureData.main.temp_min)- 273.15 | number : '1.0-0'}}°C</div>
      </div>


      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/celcius.jpg">
          <span>Max</span>
        </div>
        <div class="info-block-value">{{(temperatureData.main.temp_max)- 273.15 | number : '1.0-0'}}°C</div>
      </div>


      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/celcius.jpg">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">{{temperatureData.main.humidity}}%</div>
      </div>



      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/celcius.jpg">
          <span>Wind</span>
        </div>
        <div class="info-block-value">{{temperatureData.wind.speed}} Km/h</div>
      </div>
    </div>





  </div>
</div>
<router-outlet></router-outlet>
